/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/storage/app/public/avatars
/storage/app/public/resources
/storage/app/public/site-settings
/storage/app/public/*.png
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
toArray()
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
